#company-name{
    padding-right: 50%;
    font-size: 30px;
    font-weight: bolder;
    color: turquoise;
}
body{
    font-family: 'Poppins', sans-serif;
}
.orange-color{
    color: orange;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(90deg, tomato, orange);
    color: white;
    font-weight: 700;
    padding: 13px 30px;
    border-radius: 45px;
}
h1{
    margin: 0px;
    font-size: 65px;
    font-weight:bolder;
}
h2{
    font-size: 35px;
}
h3{
    font-size: 28px;
}
.flexible-container{
    display: flex;
    padding-bottom: 100px;
}
.half-width{
    width: 50%;
    padding-left: 60px;
    padding-top: 80px;
}
.half-width img{
    width: 100%;
 }
 .small-size img{
     width: 40%;
     padding-left: 150px;
 }

p{
    font-size: 20px;
    padding-bottom: 40px;
}
.correct-padding{
    padding-top: 200px;
}
.correct-padding2{
    padding-top: 150px;
    padding-right: 200px;
}
.correct-padding3{
    padding-top: 50px;
}
.about-banner{
    background-image: url(images/7.png);
    background-repeat: no-repeat;
    background-size: 100%;
    padding-bottom: 0px;
}
.center-align{
    text-align: center;
    padding-right: 20%;
    padding-left: 20%;
}
.recipie-item{
    width: 27%;
    margin-left: 3%;
    margin-right: 3%;
    padding: 10px;
    border-radius: 20px;
    box-shadow: 10px 10px 40px gray;
}
.recipie-item img{
width: 100%;
height: 60%;
border-radius: 20px;
}

footer{
    text-align: center;
    background-color: #10101d;
    padding-top: 25px;
    padding-bottom: 70px;
    color: white;
    width: cover;
}
.grey-color{
    color: grey;
}
body{
    margin: 0%;
}
.nav-bar li{
    display: inline-block;
    font-size: 18px;
    padding: 12px;
}
.nav-bar{
    background-color: wheat;
    text-align: right;
    padding-right: 50px;
    margin: 0%;
}
.review-flexible-container{
    display: flex;
    padding-bottom: 100px;
}
.review-item{
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    padding: 10px;
    border-radius: 20px;
    box-shadow: 10px 10px 40px gray;
}
.review-item img{
    width: 80%;
    height: 60%;
    }